<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="space-around stretch" class="practice-area-cards">
  <mat-card class="practice-area" routerLink="practice-areas/family-law">
    <img mat-card-image src="assets/family-law.jpg">
    <mat-card-title>Family Law</mat-card-title>
    <mat-card-subtitle>Navigating delicate family situations</mat-card-subtitle>
  </mat-card>
  <mat-card class="practice-area" routerLink="practice-areas/guardianship">
    <img mat-card-image src="assets/guardianship.jpg">
    <mat-card-title>Guardianship</mat-card-title>
    <mat-card-subtitle>Some info about guardianship</mat-card-subtitle>
  </mat-card>
  <mat-card class="practice-area" routerLink="practice-areas/wills-trusts-estates">
    <img mat-card-image src="assets/wills-and-estates.jpg">
    <mat-card-title>Wills, Trusts, and Estates</mat-card-title>
    <mat-card-subtitle>Some info about Trusts and Estates</mat-card-subtitle>
  </mat-card>
  <mat-card class="practice-area" routerLink="practice-areas/probate">
    <img mat-card-image src="assets/probate.jpg">
    <mat-card-title>Probate</mat-card-title>
    <mat-card-subtitle>Some info about Probate</mat-card-subtitle>
  </mat-card>
</div>
