<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 5px; margin-bottom: 30px;">
  <img src="assets/kelly-logo-right.png" alt="Kelly Sundberg logo">
</div>
<div fxLayout="column" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between">
    <div fxLayout="row"  fxFlex="100" fxFlex.gt-sm="66">
      <app-about-the-firm [short]="true"></app-about-the-firm>
    </div>
    <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="33" class="primary-background">
      <app-contact-mini></app-contact-mini>
    </div>
  </div>
  <div fxLayout="row" class="accent-background">
    <app-practice-area-cards></app-practice-area-cards>
  </div>
</div>
