<div fxLayout="row" fxLayoutAlign="center" style="margin: 5px 0;">
  <img src="/assets/kelly-logo-right.png" alt="Kelly Sundberg logo">
</div>
<div fxLayout="column">
  <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="none">
    <div fxLayout="row" fxLayoutAlign="space-between" style="margin: 10px 0" fxFlex="100" fxFlex.gt-sm="66">
      <div fxFlex="33"><img width="100%" src="/assets/kelly-headshot-gray.jpg" alt="Kelly Sundberg"></div>
      <div fxFlex="66">About the firm</div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33">
      <button mat-raised-button color="primary">Contact Us</button>

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-card class="practice-area">
        <img mat-card-image src="/assets/family-law.jpg">
        <mat-card-title>Family Law</mat-card-title>
        <mat-card-subtitle>Navigating delicate family situations</mat-card-subtitle>
      </mat-card>
      <mat-card class="practice-area">
        <img mat-card-image src="/assets/guardianship.jpg">
        <mat-card-title>Guardianship</mat-card-title>
        <mat-card-subtitle>Some info about guardianship</mat-card-subtitle>
      </mat-card>
      <mat-card class="practice-area">
        <img mat-card-image src="/assets/wills-and-estates.jpg">
        <mat-card-title>Wills, Trusts, and Estates</mat-card-title>
        <mat-card-subtitle>Some info about Trusts and Estates</mat-card-subtitle>
      </mat-card>
      <mat-card class="practice-area">
        <img mat-card-image src="/assets/probate.jpg">
        <mat-card-title>Probate</mat-card-title>
        <mat-card-subtitle>Some info about Probate</mat-card-subtitle>
      </mat-card>
  </div>
</div>
